:root {
  --primary:  #bbab4f; 
  --bg:#bbab4f; 
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  background-color: #bbab4f; 
  color: #000000; 
}



.header-with-logo {
  text-align: center;
  padding: 40px;
}

.logo {
  width: 100%;
}


header h1 {
  color: #49400a;
  font-size: 70px;
  margin-bottom: 10px;
}

header p  {
  font-size: small;
  color: #181714;
  margin-bottom: 40px;
  font-size: 20px;
}


.features {
  padding: 60px 0;
  text-align: center;
}

.feature h2 {
margin-bottom: 40px;

}

.feature {
  margin-bottom: 40px;
}

.feature img {
  max-width: 75%;
  height: auto;
  border-radius: 8px;
  margin-top: 40px;
}

.feature h3 {
  color: #000000; 
  margin-top: 20px;
  font-size: 30px;
}

.feature p {
  color: #2c2a2a;
}



.testimonials {
  background-color: #fff;
  padding: 50px 0;
  text-align: center;
}

.testimonial h2 {
  margin-bottom:  px ;
}

.testimonial  {
  margin-bottom: 40px;
}

.testimonial img {
  border-radius: 50%;
  max-width: 100px;
  margin-bottom: 20px;
  margin-top: 30px;
}

.testimonial p {
  color: #666;
}


.founders {
  background-color: #bbab4f; 
  padding: 60px 0;
  text-align: center;
}

.founder {
  margin-bottom: 40px;
}

.founder img {
  border-radius: 50%;
  max-width: 150px; 
  margin-bottom: 20px;
}

.founder p {
  color: #000000; /
}

.contact {
  padding: 50px 0;
  text-align: center;
}

.contact form {
  max-width: 600px;
  margin: 0 auto;
}

.contact form input,
.contact form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact form button {
  background-color: #e8491d;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}